
<div class="container">
  <h3 align="center">La liste d'amis</h3>
  <div ng-controller="amiscontroller" ng-init="display_data()">
    <table class="table table-bordered">
      <tr>

        <th></th>
        <th>Name</th>
        <th>Email</th>
      </tr>

      <tr ng-repeat="x in names">
        <td><button type"submit" class="btn btn-danger" ng-click="supprimamis( x.user_id,  x.friend_user_id )">Supprime</button></td>
        <td>{{x.user_id}}</td>
        <td>{{x.friend_user_id}}</td>
      </tr>


    </table>
  </div>
</div>






  <button type"submit" class="btn btn-success" ng-click="addamis()">ADD</button>
</section>









<!-- <tr ng-repeat="x in namess">
  <td><button type"submit" class="btn btn-danger" ng-click="supprimamis( x.user_id,  x.friend_user_id )">Supprime</button></td>
  <td>{{x.username}}</td>
  <td>{{x.email}}</td>
</tr> -->
