<form ng-controller="userregistercon" ng-submit="">

  <div class="form-group">
    <input placeholder="username" ng-model="registerData.username" required name="username"
    type="text" class="form-control">
    </div>
  <div class="form-group">
    <input placeholder="email" ng-model="registerData.email" required name="email"
    type="text" class="form-control">
    </div>
  <div class="form-group">
    <input placeholder="Mote de passe" ng-model="registerData.password" required name="password"
    type="password" class="form-control">
    </div>
  <div class="form-group">
    <button type="submit" ng-click="registerSubmit()" class="btn btn-success">ADD</button>
    </div>
  </form>
